<!-- app/templates/app/book_ticket.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Book Tickets</title>
</head>
<body>
    <h1>Verify yourshelf</h1>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
    
        <h1>Please Confirn the Seats</h1>
        <ul>
            {% for ticket in tickets %}
                <li>
                    <label>
                        Ticket: {{ ticket.seat_no }} - Status: {{ ticket.status }}
                        {% if ticket.status == 'not_booked' %}
                            <input type="checkbox" name="tickets" value="{{ ticket.id }}">
                        {% endif %}
                    </label>
                </li>
            {% endfor %}
        </ul>
        <input type="submit" value="Proceed">
    </form>
</body>
</html>
