{% extends 'app/base.html' %}

{% block content %}
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
 $(document).ready(function() {
        $('.ticket-item').click(function() {
            $(this).toggleClass('selected');
            if ($(this).hasClass('selected')) {
                $(this).css('background-color', '#4CAF50'); /* Green color */
            } else {
                $(this).css('background-color', '#FFD700'); /* Yellow color */
            }
            $(this).find('.ticket-checkbox').prop('checked', function(i, value) {
                return !value;
            });
        });
    });
</script>

<div class="verification-container">
    <h1>Verify Yourself</h1>
    <form method="post">
        {% csrf_token %}
        <div class="form-container">
            {{ form.as_p }}
        </div>

        <h2>Please Confirm the Seats</h2>
        <div class="ticket-container">
            {% for ticket in tickets %}
                <label class="ticket-item {% if ticket.status == 'not_booked' %} available {% endif %}" data-ticket-id="{{ ticket.id }}">
                    {{ ticket.seat_no }}
                    {% if ticket.status == 'not_booked' %}
                        <input type="checkbox" name="tickets" value="{{ ticket.id }}" class="ticket-checkbox">
                    {% endif %}
                </label>
                {% if forloop.counter0|divisibleby:5 and not forloop.last %}
                    </div><div class="ticket-container">
                {% endif %}
            {% endfor %}
        </div>
        <input type="submit" value="Proceed" class="proceed-button">
    </form>
</div>
{% endblock %}
