{% extends 'app/base.html' %}

{% block content %}
<h1>Now Showing</h1>
<div class="background">
    <div class="movie-list-container">
        <ul class="movie-list">
            {% for movie in movies %}
            <li class="movie-card">
                <div class="glass-effect">
                    <div class="container">
                        <img src="{{ movie.poster.url }}" alt="{{ movie.title }} Poster" class="poster">
                        <div class="details">
                            <h2>{{ movie.title }}</h2>
                            <p class="description">{{ movie.description }}</p>
                            <a href="{% url 'theatre_list' movie.id %}" class="watch-button">Watch Now</a>
                        </div>
                    </div>
                </div>
            </li>
            {% endfor %}
        </ul>
    </div>
</div>
{% endblock %}
