<!-- app/templates/app/show_detail.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Show Details for {{ show.start_time }}</title>
</head>
<body>
    <h1>Show Details for {{ show.start_time }}</h1>
    <form action="{% url 'book_ticket' movie_id=movie.id theatre_id=theatre.id show_id=show.id %}" method="post">
        {% csrf_token %}
        <ul>
            {% for ticket in tickets %}
                <li>
                    <label>
                        Ticket: {{ ticket.seat_no }} - Status: {{ ticket.status }}
                        {% if ticket.status == 'not_booked' %}
                        {% endif %}
                    </label>
                </li>
            {% endfor %}
        </ul>
        <input type="submit" value="Book Seats">
    </form>
</body>
</html>
