{% extends 'app/base.html' %}

{% block content %}
<div class="show-details-container">
    <h1>Seats for {{ show.start_time }}</h1>
    <form action="{% url 'book_ticket' movie_id=movie.id theatre_id=theatre.id show_id=show.id %}" method="post">
        {% csrf_token %}
        <div class="ticket-container">
            {% for ticket in tickets %}
                <div class="ticket {% if ticket.status == 'booked' %} booked {% endif %}">
                    <label>
                      {{ ticket.seat_no }}
                    </label>
                </div>
                {% if forloop.counter0|divisibleby:10 and not forloop.last %}
                    </div><div class="ticket-container">
                {% endif %}
            {% endfor %}
        </div>
        <input type="submit" value="Book Seats" class="book-button">
    </form>
</div>
{% endblock %}
