{% extends 'app/base.html' %}

{% block content %}
<div class="movie-details-container">
    <div class="movie-poster">
        <img src="{{ movie.poster.url }}" alt="{{ movie.title }} Poster">
    </div>
    <div class="movie-info">
        <h1>{{ movie.title }}</h1>
        <p class="movie-description">{{ movie.description }}</p>
        <h2>Available Theatres</h2>
        <ul class="theatre-list">
            {% for theatre, shows in theatre_shows.items %}
            <li class="theatre-item">
                <h3>{{ theatre.name }}</h3>
                <ul class="show-list">
                    {% for show in shows %}
                    <li class="show-item">
                        <a href="{% url 'show_detail' movie_id=movie.id theatre_id=show.theatre.id show_id=show.id %}" class="show-link glassmorphic-btn">Show: {{ show.start_time }}</a>
                        <!-- Add more show details as needed -->
                    </li>
                    {% endfor %}
                </ul>
            </li>
            {% endfor %}
        </ul>
    </div>
</div>
{% endblock %}
